h1 {
  color: #66ff00;
  font-family: cursive;
  text-align: center; }

.contenedor {
  margin: 60px; }

.bloque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; }
  .bloque_description {
    margin-top: 60px;
    padding: 10px;
    border-radius: 46px;
    background: #66ff00;
    box-shadow: inset -22px -22px 71px #3d9900,
    inset 22px 22px 71px #8fff00;
    text-align: center;
    font-family: cursive; }

    
.title {
  text-align: center;
  font-size: 40px;
  color: blueviolet;
  margin-top: 50px;
  font-weight: bold;
  font-style: italic;
}

#container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.containerCard {
  width: 250px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 2px 2px red;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0,3s;
}


.containerCard:hover {
  transform: translateY(-15px);
  box-shadow: 0 2px 2px rgba (0, 0, 0, 0.4);
}

.containerCard img {
  width: 250px;
  height: 220px;
}

.containerCard h4 {
  font-weight: 30px;
  padding: 10px;
  font-size: 30px;
}

.containerCard p {
  padding: 10px;
  font-size: 30px;
  font-weight: 50px;
  line-height: 15px;
}

.btnAgregar {
  font-size: 25px;
  font-weight: 40px; 
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 10% 25%;
}

.btnAlquilar {
  font-weight: 60px; 
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color:blue;
  border-radius: 10px;
  padding: 15px 40px;
  margin: 10% 40%;
}

.counter {
  font-size: 30px;
  color:white;
  background-color: rgb(84, 84, 216);
}

@media (max-width: 780px) {
  .bloque {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; } 
  
  #container {
    grid-template-columns: repeat(2, 1fr);
  }

 .btnAlquilar {
      margin: 95% 35% 20% 35%;
  } 
}
